* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F5F5F5;
}

nav {
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 6vh;
    align-items:center
}

li a {
    text-align: center;
    text-decoration:none;
    color:black;
    background-color:rgba(255, 255, 255, .50);
    padding:10px;
    border-radius:10px;
    border:#273273 2px solid;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.hero-image {
    background-image: url(/Images/child.jpg);
    background-position: center;
    height: 80vh;
}

 h1 {
    color: white;
    background-color:rgba(78, 100, 166, .35);
    border-radius: 20px;
}
.hero-title{
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15% 0 15%;
    background: white;
}

.sub-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:100%;
}

.sub-nav div {
    display:flex;
    width:40%;
    height: 20vh;
    background-color:#4E64A6;
    align-items: center;
    justify-content:center;
    border-radius:15px;
}

.sub-nav div a {
    background-color:rgba(234, 247, 250, .35);
    color:white;
    font-size:1.5rem;
    text-decoration:none;
    border-radius:15px;
    text-align:center;
    padding:10px;
    width:75%;
    border:#273273 2px solid;
}

h2 {
    width:100%;
}

.section {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding: 0% 2.5%;
    width: 100%;
    
}

.section--right-aligned {
    flex-direction: row-reverse;
}

.section__images {
    width: 40%;
}

.section__image {
    width: 100%;
    height: 45%;
}

.section__information {
    width: 55%;
}

.section__information > * {
    padding: 0;
}

.section__information ul {
    padding-left: 5%;
}

#infoPage__image1 {
    background-color: red;
}

#infoPage__image2 {
    background-color: black;
}